@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "~@blueprintjs/core/lib/scss/variables";
@import url('https://fonts.googleapis.com/css?family=Germania+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,700&display=swap');

html {
    min-height: 100%;
}

body {
    min-height: 100vh;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'IBM Plex Sans', 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    min-height: 100vh;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#content {
    min-height: calc(100vh - #{$pt-navbar-height});
    display: flex;
}

.brand {
    margin-left: $pt-grid-size;
    font-size: 1.5em;
    font-weight: 300;
}

.brandText {
    font-family: 'Germania One', ;
}

.switchContainer {
    display: flex;
    flex-direction: row;
    margin-top: auto;
    margin-bottom: auto;
}

.switchContainer > * {
    margin-top: auto;
    margin-bottom: auto;
}

.switchIcon {
    margin-left: 2rem;
    margin-right: 1rem;
}

.searchContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: calc(25 * #{$pt-grid-size});
    margin-left: auto;
    margin-right: auto;
}

.dark-bg {
    background-color: $pt-app-background-color;
}

.light-bg {
    background-color: $pt-dark-app-background-color;
}

.results-container {
    display: flex;
    flex-direction: column;
    margin-top: #{$pt-grid-size};
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 100%;
}

.results-list {
    background: transparent;
}

.results-list-shadow {
    padding: calc(2 * #{$pt-grid-size});
    border-radius: 10px;
    background: #f5f8fa;
    box-shadow:  15px -15px 30px #e9ecee, 
             -15px 15px 30px #ffffff;
}

.results-list-item > a {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.result-snippet {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.result-snippet > .searchmatch {
    color: $pt-dark-link-color;
    font-weight: bold;
}

.header-button {
    margin-right: $pt-grid-size;
}