@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "~@blueprintjs/core/lib/scss/variables";

html {
    min-height: 100%;
}

body {
    min-height: 100vh;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    min-height: 100vh;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#content {
    min-height: calc(100vh - #{$pt-navbar-height});
    display: flex;
}

.switchContainer {
    display: flex;
    flex-direction: row;
    margin-top: auto;
    margin-bottom: auto;
}

.switchContainer > * {
    margin-top: auto;
    margin-bottom: auto;
}

.switchIcon {
    margin-left: 2rem;
    margin-right: 1rem;
}

.searchBoxContainer {
    display: flex;
    width: 25%;
    margin-top: calc(20 * #{$pt-grid-size});
    margin-left: auto;
    margin-right: auto;
}